
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

html, body {
    margin:0;
    height:100%;
    width:100%;
    padding:0;
    scroll-behavior: smooth;
}
section {
    display: inline-block;
    background: black;
    height:100%;
    width:100%;
    padding: 0 100px;
    box-sizing:border-box;
    margin: 0;
}
div {
  margin: 0px;
  padding: 0px;
}
.hero {
  background: black;
  padding: 0px;
}
.hero > .imgKeep {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.hero > .imgKeep > img {
  width: 100%;
  height: 100%;
  /* -webkit-filter: blur(3px);
  filter: blur(3px); */
}
.top {
  padding-top: 30px;
  background: rgb(8, 134, 215);
}
.top > .sen1 {
  padding-top: 100px;
}
.top > .sen2 {
  padding-top: 100px;
}
.top > .sen3 {
  padding-top: 100px;
}
.top > .sen4 {
  padding-top: 100px;
}
.top > div > h1 {
  color: white;
  font-family: 'Nixie One', cursive;
  font-weight: lighter;
  margin: 0;
}
.top > .sen2 > h1 {
  color: black;
  font-family: 'Nixie One', cursive;
  float: right;
  font-weight: lighter;
  margin: 0;
}
.top > .sen3 > h1 {
  font-family: 'Nixie One', cursive;
  font-weight: lighter;
}
.top > .sen4 > h1 {
  color: black;
  font-family: 'Nixie One', cursive;
  float: right;
  font-weight: lighter;
  margin: 0;
}
.mid {
  background: white;
}
.bot {
  background: red;
}
